.env
pyenv/
*/__pycache__/
*/*/__pycache__/
flower/Scripts/python.exe
flower/Scripts/python3.dll
flower/Scripts/python36.dll
flower/Scripts/vcruntime140.dll
.vscode/settings.json
development.log
staff/migrations/__pycache__/
sampletest/migrations/__pycache__/
referral/migrations/__pycache__/
miscapp/__pycache__/
flower/__pycache__/
jasmine/__pycache__/
*.pyc
__init__.py